<!--The content below is only a placeholder and can be replaced.-->

<div>
   <form>
        <div class="form-group">
          <label for="emailInput">Email Address</label>
          <input type="email" id="emailInput" class="form-control" placeholder="enter your email here"/>
          <small id="emailHelp" class="form-text text-muted">The email will never be shared with anyone</small>
        </div>

        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" id="passwordInput" class="form-control" placeholder="Password"/>
        </div>
      <button type="submit" class="btn btn-primary">submit</button>
   </form>
</div>


<router-outlet></router-outlet>
